.git
.gitignore
.env*
!.env.example
.venv
__pycache__
*.pyc
*.pyo
.pytest_cache
.coverage
coverage.xml
*.egg-info
build
dist
*.db
*.db-wal
*.db-shm
*.anki2
*.anki2-wal
*.anki2-shm
*.media
*.media.db2
.DS_Store
